<p>Create your user</p>

{% block content %}

{% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
    <div style="text-align:center">Hi {{ user.username }}! You are already log in !!</div>
    <p><a href="{% url 'sign_out' %}">logout</a></p>
{% else %}
    <form method="post"  role="form" action="create_user">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="create user" />
    </form>
{% endif %}

{% endblock %}