{% extends "site_base.html" %}
{% block main_content %}


{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

{% if user.is_authenticated %}
  <div style="text-align:center">Hi {{ user.username }} ! Welcome !</div>
  <p><a href="{% url 'account_logout' %}">logout</a></p>
{% else %}
<form method="post"  role="form" action="sign_in">
{% csrf_token %}
{% load crispy_forms_tags %}
{{ form|crispy }}
<button class="btn btn-primary" type="submit">sign in</button>
</form>
{% endif %}

{% endblock %}