{% block content %}

{% if errors %}
{% for error in errors %}
<p>{{error}}</p>
{% endfor %}
{% endif %}

{% if messages %}
<p>List of errors<p>
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}



{% if user.is_authenticated %}
  <div style="text-align:center">Hi {{ user.username }}! Welcome!!</div>
  <p><a href="{% url 'sign_out' %}">logout</a></p>
{% else %}
<form method="post"  role="form" action="sign_in">
{% csrf_token %}
<input type="text" name="username" placeholder="Utilisateur">
<input type="password" name="password" placeholder="Mot de passe">
<input type="submit" value="sign in" />
</form>
<p><a href="{% url 'create_user' %}">create user</a></p>
{% endif %}

{% endblock %}