{% extends "site_base.html" %}
{% block main_content %}


{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

{% if user.is_authenticated %}
  <div style="text-align:center">Hi {{ user.username }} ! Welcome !</div>
  <p>Your list of secret santa group : </p>

  {% for group in group_list %}
  	<a href="/group/{{group.group_name}}">{{ group.group_name }}</a><br/>
  {% endfor %}
  <br/>
  <a href="/group/">Crée un groupe</a>
  
{% else %}
<form method="post"  role="form" action="/account/login/">
{% csrf_token %}
{% load crispy_forms_tags %}
{{ form|crispy }}
<button class="btn btn-primary" type="submit">sign in</button>
</form>
{% endif %}

{% endblock %}