
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
      <meta charset="utf-8">
      <link href="{% static "img/favicon.png" %}" rel="shortcut icon" />
      <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>

      <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
      <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
      <script src="{% static "js/popper.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>

      <link rel="stylesheet" href="{% static "css/material_bootstrap_icons.css" %}">
      <link rel="stylesheet" href="{% static "css/bootstrap-material-design.min.css" %}">

      <script src="{% static "/js/bootstrap-material-design.js" %}"></script>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>SecretSantaDjango - {{title}}</title>
      <!-- Font Awesome -->
      <link rel="stylesheet" href="{% static "css/all.min.css" %}">

      <link rel="stylesheet" href="{% static "pinax/css/theme.css" %}">


      <!--  hack to make IE able to apply CSS to elements that it doesn't usually know about. See http://code.google.com/p/html5shim/ -->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}" {% block body_extra_attributes %}{% endblock %}>
        <div class="{% block wrapper_class %}{% endblock %}">

            {% block topbar_base %}
                <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <a class="navbar-brand" href="/">Secret Santa Django </a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">

                          
                          {% block nav %}
                            {% comment %}
                            <ul class="nav navbar-nav">
                                <li><a href="#tab_one">One</a></li>
                                <li><a href="#tab_two">Two</a></li>
                            </ul>
                            {% endcomment %}
                          {% endblock %}
                          {% block account_bar %}{% include "pinax/_account_bar.html" %}{% endblock %}
                      </div>
                    </nav>
                </header>
            {% endblock %}

            {% block body_base %}
                <section id="content_body">
                    <div class="container">
                        {% include "pinax/_messages.html" %}
                        <div id="main_content">
                  {% block main_content %}{% endblock %}
              </div>
                        {% block body %}
                        {% endblock %}
                    </div>
                </section>
            {% endblock %}

            {% block footer_base %}
                <hr />
                <footer>
                    <div class="container">
                        {% block footer %}{% endblock %}
                    </div>
                </footer>
            {% endblock %}
        </div>

        {% block scripts %}{{ block.super }}{% endblock %}

        {% block theme_script %}
            <script src="{% static "pinax/js/theme.js" %}"></script>
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>